@import "../../styles/App.css";

/* 공통 스타일 */
.modalSeaweed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  place-content: center;
}

.modalSeaweed.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show .3s;
}

.modalSeaweed > div > form {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

.signinBox {
  background-color: var(--medium-dark-color);
  min-width: 400px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  animation: modal-show .3s;
}

.signinBox .signin-box-close-btn {
  color: var(--white-color);
  position: absolute;
  top: 15px;
  right: 15px;
  transition: ease-in-out .1s;
}

.signinBox .signin-box-close-btn:hover {
  cursor: pointer;
  color: var(--highlight-color);
}

.signinBox > form > input {
  min-height: 2.5em;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}

.signinBox > form > input::placeholder {
  color: var(--white-color);
}

.signinBox > form > input:focus {
  outline: none;
}

.signinBox > form > button {
  width: 100px;
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border:none;
  background-color: var(--white-color);
  position: relative;
  top: 15px;
  transition: 0.1s ease-in;
}

.signinBox > form > button:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
}

.alert-box {
  background-color: transparent;
  min-height: 1em;
  color: var(--highlight-color);
  font-style: italic;
  text-align: center;
}

.alert-box.error {
  position: relative;
  top: 25px;
}

.landing-modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  column-gap: 2rem;
}

.landing-modal-buttons > button {
  width: 145px;
  padding: 1rem 2rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
  border-radius: 999px;
  background-color: var(--highlight-color);
  border: none;
}

.landing-modal-buttons > button:hover {
  cursor: pointer;
  background-color: #ffe367;
}


@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-show {
  from{
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.loginBox {
  width: 400px;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: var(--medium-dark-color);
  position: relative;
}

.loginBox form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.loginModal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(230, 230, 230);
}

.loginModal-close-btn:hover {
  cursor: pointer;
  color: var(--white-color);
}

.loginBox form input {
  height: 1.5rem;
  padding: 1rem 1rem 0.8rem 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
}

.loginBox form input::placeholder {
  color: #fff;
}

.loginBox form input:focus {
  outline: none;
}

.loginBox form .loginModal-submit-btn {
  width: 100px;
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border:none;
  background-color: var(--white-color);
  transition: 0.2s ease-in;
}

.loginBox form .loginModal-submit-btn:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
}

.errorMessage {
  color: var(--highlight-color);
  font-style: italic;
  text-align: center;
}