@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Pen+Script&display=swap');

:root {
  --dark-main-color:  #1a2d2b;
  --medium-dark-color: #324f4d;
  --highlight-color: #fbd428;
  --white-color: #fff;
  --nanum-gothic: 'Nanum Gothic', sans-serif;
  --nanum-pen-script: 'Nanum Pen Script', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--nanum-gothic);
}

h1 {
  font-family: var(--nanum-pen-script);
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--dark-main-color);
  position: relative;
  z-index: -5;
  transition: 0.3s ease-in;
  animation: videoShow 2s;
}

.App > video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  transition: 0.3s ease-in;
  animation: videoShow 2s;
}

@keyframes videoShow {
  0% {
    opacity: 0%
  }
  100% {
    opacity: 100%;
  }
}

