@import "../../styles/App.css";

.MyPage {
    color: var(--white-color);
    background-color: var(--medium-dark-color);
    border-radius: 20px;
    padding: 1em 1em;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-content: center;
}

.my-info div {
    margin-bottom: 0.2em;
}

.MyPage .content-wrapper {
    display: flex;
    column-gap: 1em;
}

.readed-secret ul li {
    list-style: none;
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    font-size: 12px;
    border-bottom: solid 1px var(--white-color);
}

.readed-secret ul li .content {
    margin: 0em 1em 1em;
    width: 400px;
    height: 3.5em;
    overflow: hidden;
}

.readed-secret ul li div:nth-child(3) {
    margin-right: 10px;
}