@import "../../styles/App.css";

.Tooltip {
  width: 65px;
  visibility: hidden;
  position: absolute;
  bottom: -10px;
  left: 10px;
  font-size: 0.7rem;
  background: #fbd428b9;
  padding: 0.1rem;
  text-align: center;
  border-radius: 15px;
}

.Nav li:hover .Tooltip {
  visibility: visible;
  color: var(--white-color);
}