@import "../../styles/App.css";

.Nav {
  position: absolute;
  display: flex;
  border-radius: 999px;
  padding: 2rem 1rem;
  background-color: var(--dark-main-color);
  opacity: 0.8;
  color: var(--white-color);
  right: 50px;
  top: 35%;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.Nav > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 1rem;
  font-size: 2rem;
}

.Nav li {
  transition: 0.2s ease-in-out;
}

.Nav li:hover, Nav a:hover {
  cursor: pointer;
  transform: translateY(-5px);
  color: var(--highlight-color);
}

.Nav a {
  text-decoration: none;
  color: #fff;
}

